version: 2.1

orbs:
  aws-cli: circleci/aws-cli@1.3.0
  slack: circleci/slack@4.8.2

commands:
  restore_pkg_cache:
    steps:
      - restore_cache:
          keys:
            - &cache_name v2-pkg-cache
  setup:
    steps:
      - checkout
      - restore_pkg_cache
      - run: GOPRIVATE="github.com/symopsio" make
      - save_cache:
          key: *cache_name
          paths:
            - "/go/pkg"
jobs:
  unit_and_acceptance_test:
    docker:
      - image: cimg/go:1.16
    steps:
      - setup
      - run:
          name: Install terraform
          command: |
            curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
            sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
            sudo apt-get update && sudo apt-get install terraform=1.1.9
      - run: make testacc-ci
      - when:
          condition:
            equal: [ main, << pipeline.git.branch >> ]
          steps:
            - slack/notify:
                channel: eng-alerts-staging
                event: fail
                template: basic_fail_1

  generate_docs:
    docker:
      - image: cimg/go:1.16
    working_directory: ~/terraform-provider-sym
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Configure github
          command: |
            git config user.email "infrastructure@symops.io"
            git config user.name "infrastructure"
      - run:
          name: Install tfplugindocs
          command: |
            wget https://github.com/hashicorp/terraform-plugin-docs/releases/download/v0.13.0/tfplugindocs_0.13.0_linux_amd64.zip
            unzip -o tfplugindocs_0.13.0_linux_amd64.zip
      - run: ./tfplugindocs
      - run:
          name: Check in documentation
          command: |
            git add docs
            git commit --allow-empty -m "[skip ci] Add auto-gen documentation."
            git push https://infrastructure:${GITHUB_TOKEN}@github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}.git
  release:
    docker:
      - image: cimg/go:1.16
    steps:
      - checkout
      - restore_pkg_cache
      - run:
          name: import GPG key
          command: echo -e "$GPG_KEY" | gpg --import
      - aws-cli/setup
      - run: curl -sL https://git.io/goreleaser | bash
      - run:
          name: sync to s3
          command: |
            aws s3 sync dist s3://sym-releases/terraform-provider-sym/$CIRCLE_TAG --acl public-read


workflows:
  version: 2
  build_and_release:
    jobs:
      - unit_and_acceptance_test:
          context:
            - slack-secrets
          filters:
            tags:
              only: /v.*/
      - generate_docs:
          context:
            - infrastructure-github-token
          filters:
            branches:
              only: main
      - release:
          requires:
            - unit_and_acceptance_test
            - generate_docs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
  # Run the acceptance tests every night at 00:00
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - unit_and_acceptance_test:
          context:
            - slack-secrets
